@font-face {
    font-family: 'FuturaPTBold';
    src: url('/fonts/FuturaPT/FuturaPTBold.otf') format('opentype');
}
  
@font-face {
    font-family: 'FuturaPTLight';
    src: url('/fonts/FuturaPT/FuturaPTLight.otf') format('opentype');
}

  
@font-face {
    font-family: 'FuturaPTMedium';
    src: url('/fonts/FuturaPT/FuturaPTMedium.otf') format('opentype');
}

@font-face {
    font-family: 'FuturaPTDemi';
    src: url('/fonts/FuturaPT/FuturaPTDemi.otf') format('opentype');
}

@font-face {
    font-family: 'FuturaPTBook';
    src: url('/fonts/FuturaPT/FuturaPTBook.otf') format('opentype');
}

@font-face {
    font-family: 'Chicle';
    src: url('/fonts/Chicle/Chicle-Regular.ttf') format('truetype');
}