@import '../../../assets/scss/abstracts/abstracts.scss';

.customRadio {
    .RadioStyle{
        input[type="radio"] {
            border: 2px solid $black;
          background-image: none;
        }
        input[type="radio"]:checked {
            outline: 3px solid $black;
            box-shadow: none;
            outline-offset: 2px;
            border: none;
            background-color: $blue; 
        }
        label{
            font-family: Chicle;
            color: $primary;
            font-weight: 400;
            font-size: pxtoRem(38px);
            line-height: pxtoRem(35px);
        }
        
   }
}