@import '../../../../assets/scss/abstracts/abstracts.scss';

.customNormalTextArea {
    textarea {
        border: 2px solid $primary;
        border-radius: 15px;
        font-size: pxtoRem(18px);
        padding: pxtoRem(10px) pxtoRem(18px);
        font-family: FuturaPTBook;
        color: $black;
        font-weight: 400;
        font-style: italic;

        &:focus {
            border: 2px solid $blue;
            box-shadow: none;
        }

    }
}