@import '../../../../assets/scss/abstracts/abstracts.scss';

.form_label {
  font-weight: 400;
  font-size: pxtoRem(27px);
  line-height: pxtoRem(20px);
}
.blackTxt{
  font-family: FuturaPTBook;
  color: $black;
}
.orangeTxt{
  font-family: Chicle;
  color: $primary;
  line-height: pxtoRem(25px);
}
.blueTxt{
  font-family: Chicle;
  font-weight:400;
  color: $blue
}