@import '../assets/scss/abstracts/abstracts.scss';
.NotFoundPage{
    background-image: url("/images/404.png");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    @include media-breakpoint-hd-desktop{
        min-height: 100vh;
    }
    @include media-breakpoint-mobile-land {
        min-height: 80vh;
    }
    h2{
        font-family: Chicle;
        font-weight: 400;
        color: $primary;
        font-size: pxtoRem(55px);
        line-height: pxtoRem(40px);
    }
}